<div class="col-lg-12">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="col-lg-2">Departamento</th>
            <th scope="col" class="col-lg-1">Bloque</th>
            <th scope="col" class="col-lg-2">Empleado</th>
            <th scope="col" class="col-lg-1">Maquina</th>
            <th scope="col" class="col-lg-2">Producto</th>
            <th scope="col" class="col-lg-1">Indicador</th>
            <th scope="col">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <td>
                <select name="departmentName" #departmentName="ngModel" [(ngModel)]="department.departmentName" class="form-control">
                    <option *ngFor="let depa of department" [value]="depa._id">{{depa.departmentName.toUpperCase()}}</option>
                </select>
            </td>

            <td>
                <select name="numberSquare" #numberSquare="ngModel" [(ngModel)]="square.numberSquare" class="form-control" disabled>
                    <option *ngFor="let squ of square" [value]="squ._id">{{squ.numberSquare}} - {{squ.department.departmentName.toUpperCase()}}</option>
                </select>
            </td>

            <td>
                <select name="employee" #employee="ngModel" [(ngModel)]="operator.employee" class="form-control" disabled>
                    <option *ngFor="let op of operator" [value]="op._id">{{op.employee.name.toUpperCase()}}</option>
                </select>
            </td>

            <td>
                <select name="numberMachine" #numberMachine="ngModel" [(ngModel)]="machine.numberMachine" class="form-control" disabled>
                    <option *ngFor="let mach of machine" [value]="mach._id">{{mach.numberMachine}} - {{mach.square.numberSquare}} - {{mach.square.department.departmentName.toUpperCase()}}</option>
                </select>
            </td>

            <td>
                <select name="nameProduct" #nameProduct="ngModel" [(ngModel)]="product.nameProduct" class="form-control" disabled>
                    <option *ngFor="let pro of product" [value]="pro._id">{{pro.nameProduct}} - {{pro.customer.customerName.toUpperCase()}}</option>
                </select>
            </td>

            <td>
                <input type="color" name="indicator" #indicator="ngModel" [(ngModel)]="mobility.indicator" class="form-control" disabled>
            </td>

            <td>
                <textarea name="observations" #observations="ngModel" [(ngModel)]="mobility.observations" class="form-control" placeholder="Escribe tus observaciones aquí" disabled></textarea>
            </td>

          </tr>

          <div class="buttons-paginates">
            <div class="pull-left">
                <button class="btn btn-info" disabled><span class="glyphicon glyphicon-plus"></span>
                    {{button}}
                </button>
            </div>
          </div>

        </tbody>

      </table>

      <div class="buttons-paginates">
        <div class="pull-right">
            <button class="btn btn-success" disabled><span class="glyphicon glyphicon-plus"></span>
                {{button_save}}
            </button>
        </div>
      </div>
</div>