<div class="col-lg-10 col-lg-offset-1">
    <h1 class="h1-strong">
        Seguridad
    </h1>

    <div class="container col-lg-12" id="contenido">

        <div class="row">

            <div class="group col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>PLASTIC TEC LERMA</h4>
                        <div class="safestart-logo">
                            <img src="assets/SafeStart.jpg" alt="Logo Safe Start">
                        </div>
                    </div>
                    <div class="panel-body">
                      Panel content
                    </div>
                </div>
            </div>

            <div class="group col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="pull-center">CONDICIONES PARA EL USO DE LICENCIA SAFE START</h4>
                    </div>
                    <div class="panel-body">
                    Panel content
                    </div>
                </div>
            </div>

        </div>

        
          
        <button class="btn btn-success pull-right" (click)="generarPDF()">{{button}}</button>
    </div>
</div>

