<div class="col-lg-8 col-lg-offset-2">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <div class="operator">
        <div *ngFor="let mobility of mobility" class="item-mobility">
            <div [routerLink]="['/mostrar-bloques-movilidad']" (click)="submit()">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="content">
                            <p>
                                <span> REGISTRO {{mobility.squareMobility.departmentMobility.mobilityDate.day.dia}} DE {{mobility.squareMobility.departmentMobility.mobilityDate.month.mes}}</span>
                            </p>

                            <p>
                                <span>BLOQUE {{mobility.squareMobility.square.numberSquare}} DE {{mobility.squareMobility.departmentMobility.department.departmentName.toUpperCase()}} </span>
                            </p>

                            <p class="realizo">
                                Realizó {{identity.name}} {{identity.surnameP}} {{identity.surnameM}} a las {{hora}} horas con {{minutes}} minuto(s)
                            </p>

                        </div>

                        <!-- Buttons -->
                        <div class="buttons-paginates">
                            <div class="pull-right">
                                <a [routerLink]="['/grafica-movilidad']" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search"></span>
                                    {{button_consultar}}
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>