<div class="col-lg-3 col-lg-offset-4">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro guardado correctamente, <a [routerLink]="['/departamentos']">Ver departamentos aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Ocurrio un error al guardar el registro
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label class="labels">Nombre del departamento</label>
            <input type="text" name="departmentName" #departmentName="ngModel" [(ngModel)]="department.departmentName" class="form-control" required/>
            <span *ngIf="!departmentName.valid && departmentName.touched">
                El nombre del departamento es obligatorio
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid"/>
    </form>

</div>