<div class="col-lg-4 col-lg-offset-4">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro guardado correctamente, <a [routerLink]="['/registros-movilidad']">Ver registros aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Ocurrio un error al guardar el registro
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">

        <p>
            <label class="labels">Mes</label>
            <input type="month" name="month" #month="ngModel" [(ngModel)]="register.month" class="form-control" required/>
            <span *ngIf="!month.valid && month.touched">
                El mes es obligatorio
            </span>
        </p>

        <p>
            <label class="labels">Semana</label>
            <input type="week" name="week" #week="ngModel" [(ngModel)]="register.week" class="form-control" required/>
            <span *ngIf="!week.valid && week.touched">
                La semana es obligatoria
            </span>
        </p>

        <p>
            <label class="labels">Dia</label>
            <input type="day" name="day" #day="ngModel" [(ngModel)]="register.day" class="form-control" required/>
            <span *ngIf="!day.valid && day.touched">
                El dia es obligatorio
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid"/>
    </form>
</div>