<div class="col-lg-3 col-lg-offset-4">
    <h1 class="h1-strong">
        {{title}}
    </h1>



    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label class="labels">Nombre del puesto</label>
            <input type="text" name="positionName" #positionName="ngModel" [(ngModel)]="position.positionName" class="form-control" onkeyup="javascript: this.value = this.value.toUpperCase();" onkeydown="javascript: this.value = this.value.toUpperCase();" required/>
            <span *ngIf="!positionName.valid && positionName.touched">
                El nombre del puesto es obligatorio
            </span>
        </p>

        <p>
            <label class="labels">Tipo de trabajador</label>
            <select name="type" #type="ngModel" [(ngModel)]="position.typeWorker" class="form-control" required>
                <span *ngIf="!type.valid && type.touched">El tipo de trabajador es obligatorio</span>
                <option *ngFor="let type of typeWorker" [value]="type._id">{{type.type.toUpperCase()}}</option>
            </select>
        </p>

        <p>
            <label class="labels">Centro de costos</label>
            <select name="center" #center="ngModel" [(ngModel)]="position.costCenter" class="form-control" required>
                <span *ngIf="!center.valid && center.touched">El centro de costos es obligatorio</span>
                <option *ngFor="let center of costCenter" [value]="center._id">{{center.center.toUpperCase()}}</option>
            </select>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid"/>
    </form>

</div>

