<div class="col-lg-6 col-lg-offset-3">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="square-department">
        <div *ngFor="let department of department" class="item-squareDepartment">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="content">
                            <p>
                                Departamento - <span>{{department.departmentName}}</span>
                            </p>
                        </div>

                        <!-- Buttons -->
                        <div class="buttons-paginates">
                            <div class="pull-right">
                                <a [routerLink]="['/movilidad-nuevo']" class="btn btn-success" (click)="getSquares()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {{button}}
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>

        </div>
    </div>
</div>