<div class="col-lg-4 col-lg-offset-4">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">

        <p>
            <label class="labels">* Mes</label>
                <select name="month" #month="ngModel" [(ngModel)]="mobilityDate.month" class="form-control" required>
                    <option *ngFor="let mon of month" [value]="mon._id">{{mon.month.toUpperCase()}}</option>
                </select>
        </p>

        <p>
            <label class="labels">* Semana</label>
                <select name="weeks" #weeks="ngModel" [(ngModel)]="mobilityDate.week" class="form-control" required>
                    <option *ngFor="let weeks of week" [value]="weeks._id">{{weeks.week.toUpperCase()}}</option>
                </select>
        </p>

        <p>
            <label class="labels">* Dia</label>
                <select name="days" #days="ngModel" [(ngModel)]="mobilityDate.day" class="form-control" required>
                    <option *ngFor="let days of day" [value]="days._id">{{days.day.toUpperCase()}}</option>
                </select>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid"/>
    </form>
</div>