<div class="col-lg-8 col-lg-offset-2">
    <h1 class="h1-strong">
      {{title}}
    </h1>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/add-square.png" alt="Bloques">
          <div class="caption">
              <h3>Bloques</h3>
              <p>Da de alta, consulta, actualiza o elimina bloques de tu departamento.</p>
              <a [routerLink]="['/crear-bloque']" class="btn btn-success" role="button">Registrar Bloque</a><br>
              <a [routerLink]="['/bloques-departamento']" class="btn btn-info" role="button">Ver Bloques</a><br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/add-machine.jpg" alt="Maquinas">
          <div class="caption">
            <h3>Maquinas</h3>
            <p>Da de alta, consulta, actualiza o elimina maquinas de el bloque correspondiente.</p>
            <a [routerLink]="['/crear-maquina']" class="btn btn-success" role="button">Registrar Maquina</a><br>
            <a [routerLink]="['/maquinas']" class="btn btn-info" role="button">Ver Maquinas</a><br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/add-customers.jpg" alt="Clientes">
          <div class="caption">
            <h3>Clientes</h3>
            <p>Da de alta, consulta, actualiza o elimina clientes para tus productos.</p>
            <a [routerLink]="['/crear-cliente']" class="btn btn-success" role="button">Registrar Cliente</a><br>
            <a [routerLink]="['/clientes']" class="btn btn-info" role="button">Ver Clientes</a><br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/add-products.jpeg" alt="Productos">
          <div class="caption">
            <h3>Productos</h3>
            <p>Da de alta, consulta, actualiza o elimina productos de las maquinas de el bloque correspondiente.</p>
            <a [routerLink]="['/crear-producto']" class="btn btn-success" role="button">Registrar Producto</a><br>
            <a [routerLink]="['/productos']" class="btn btn-info" role="button">Ver Productos</a><br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/add-operators.jpg" alt="Productos">
          <div class="caption">
            <h3>Operadores</h3>
            <p>Da de alta, consulta, actualiza o elimina operadores y asignalos a un bloque y maquina correspondiente.</p>
            <a [routerLink]="['/actualizar-operador']" class="btn btn-success" role="button">Registrar Operador</a><br>
            <a [routerLink]="['/operadores']" class="btn btn-info" role="button">Ver Operadores</a><br>
          </div>
        </div>
      </div>

    </div>

</div>
