<div class="col-lg-3 col-lg-offset-4">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Bienvenido
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Ocurrio un error al iniciar sesión
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">

        <p>
        <label>Nombre de usuario</label>
        <input type="text" name="username" #username="ngModel" [(ngModel)]="employee.username" class="form-control" required/>
        <span *ngIf="!username.valid && username.touched">
            El nombre de usuario es obligatorio
        </span>
        </p>

        <p>
        <label>Contraseña</label>
        <input type="password" name="payroll" #payroll="ngModel" [(ngModel)]="employee.payroll" class="form-control" required/>
        <span *ngIf="!payroll.valid && payroll.touched">
            La contraseña es obligatoria
        </span>
        </p>

        <input type="submit" value="Entrar" class="btn btn-success" [disabled]="!loginForm.form.valid"/>

    </form>

</div>