<div class="col-lg-8 col-lg-offset-2">
    <h1 class="h1-strong">
        Recursos Humanos
    </h1>

    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="assets/add-employees.png" alt="Trabajadores">
            <div class="caption">
                <h3>Trabajadores</h3>
              <p>Da de alta, consulta, actualiza o elimina trabajadores.</p>
              <a [routerLink]="['/registrar-empleado']" class="btn btn-success" role="button">Registrar Empleado</a><br>
              <a [routerLink]="['/consultar-empleado']" class="btn btn-info" role="button">Consultar Empleado</a><br>
              <a [routerLink]="['/actualizar-empleado']" class="btn btn-warning" role="button">Actualizar Empleado</a><br>
              <a [routerLink]="['/eliminar-empleado']" class="btn btn-danger" role="button">Eliminar Empleado</a><br>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/add-departments.jpg" alt="Departamentos">
              <div class="caption">
                  <h3>Departamentos</h3>
                  <p>Da de alta, consulta, actualiza o elimina departamentos.</p>
                  <a [routerLink]="['/registrar-departamento']" class="btn btn-success" role="button">Registrar Departamento</a><br>
                  <a [routerLink]="['/consultar-departamento']" class="btn btn-info" role="button">Consultar Departamento</a><br>
                  <a [routerLink]="['/actualizar-departamento']" class="btn btn-warning" role="button">Actualizar Departamento</a><br>
                  <a [routerLink]="['/eliminar-departamento']" class="btn btn-danger" role="button">Eliminar Departamento</a><br>
              </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/add-positions.jpg" alt="Puestos">
              <div class="caption">
                  <h3>Puestos de trabajo</h3>
                  <p>Da de alta, consulta, actualiza o elimina puestos.</p>
                  <a [routerLink]="['/registrar-puesto']" class="btn btn-success" role="button">Registrar Puesto</a><br>
                  <a [routerLink]="['/consultar-puesto']" class="btn btn-info" role="button">Consultar Puesto</a><br>
                  <a [routerLink]="['/actualizar-puesto']" class="btn btn-warning" role="button">Actualizar Puesto</a><br>
                  <a [routerLink]="['/eliminar-puesto']" class="btn btn-danger" role="button">Eliminar Puesto</a><br>
              </div>
            </div>
        </div>
    </div>


</div>




