<div class="col-lg-8 col-lg-offset-2">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <div class="operator">
        <div *ngFor="let departmentMobility of departmentMobility" class="item-departmentMobility">
            <div [routerLink]="['/mostrar-departmentos-movilidad']" (click)="submit()">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="content">
                            <p>
                                Departamento - <span>{{departmentMobility.department.departmentName.toUpperCase()}}</span>
                            </p>

                            <p>
                                Fecha - <span>{{departmentMobility.mobilityDate.month.mes.toUpperCase()}} - {{departmentMobility.mobilityDate.day.dia}} </span>
                            </p>

                        </div>

                        <!-- Buttons -->
                        <div class="buttons-paginates">
                            <div class="pull-right">
                                <a [routerLink]="['/crear-bloque-movilidad']" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    {{button_agregar}}
                                </a>

                                <a [routerLink]="['/mostrar-bloques-movilidad']" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search"></span>
                                    {{button_consultar}}
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>