<div class="col-lg-4 col-lg-offset-4">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro guardado correctamente, <a [routerLink]="['/bloques']">Ver bloques aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Ocurrio un error al guardar el registro
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">

        <p>
            <label class="labels">Número de bloque</label>
            <input type="text" name="numberSquare" #numberSquare="ngModel" [(ngModel)]="square.numberSquare" class="form-control" required/>
            <span *ngIf="!numberSquare.valid && numberSquare.touched">
                El número de nomina es obligatorio
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid"/>
    </form>
</div>